.projects {
  padding: 120px 8%;

  background: #07101d;

  color: white;
}

.projects h2 {
  font-size: 3rem;

  margin: 20px 0 60px;
}

.projects h2 span {
  color: #7567ff;
}

.projects-grid {
  display: grid;

  gap: 40px;
}
